In [10]:
#Your code here
def heloPython():
    print('welcome in python language')
    
heloPython()

welcome in python language

In [5]:
#your code here
def fullName(firstname, lastname):
    print(f"{firstname} {lastname}")
    
fullName("indah","puspitasari")

indah puspitasari

In [20]:
#your code here
def getTitle(title= 'S.Kom'):
    return title


def fullNameWithTitle(firstname, lastname):
    title = getTitle()
    print(f"{firstname} {lastname}, {title}")
    
fullNameWithTitle("indah","puspitasari")

indah puspitasari, S.Kom

In [23]:
#your code here
def getTitle1(title= 'Dr'):
    return title


def getTitle2(title= 'S.Kom,MM'):
    return title


def fullNameWithTitle(firstname, lastname):
    title1 = getTitle1()
    title2 = getTitle2()
    print(f"{title1}.{firstname} {lastname}, {title2}")
    
fullNameWithTitle("indah","puspitasari")

Dr.indah puspitasari, S.Kom,MM

In [31]:
#Your code here
def maxValue(val_1, val_2, val_3):
    if val_1 >= val_2 and val_1 >= val_2:
        return val_1
    elif val_2 >= val_1 and val_2 >= val_3:
        return val_2
    elif val_3 >= val_1 and val_3 >= val_2:
        return val_3
    
maxValue(200,200,40)

200

In [36]:
#your code here
def luaslingkaran(diameter,phi=3.14):
    r = diameter/2
    return phi * r * r

luaslingkaran(10)

78.5

In [42]:
#your code here
def luaslingkaran(diameter,phi=3.14):
    r = diameter/2
    return phi * r * r
def luaspersegi(sisi):
    return sisi * sisi

sisi = 10
diameter = 10
areaArsiran = luaspersegi(sisi)-luaslingkaran(diameter)
print(luaspersegi(sisi))
print(luaslingkaran(diameter))
print(areaArsiran)

#luaslingkaran(10)

100
78.5
21.5

In [44]:
#you code here
def info(suhu, daerah='Sukabumi', satuan='celcius'):
    print(f"suhu sekarang di {daerah} : {suhu} {satuan}")
    
info(20)
info(80,satuan='farenheit')
info(-10,'kutub utara')
info(-40,'kutub utara', 'farenheit')

suhu sekarang di Sukabumi : 20 celcius
suhu sekarang di Sukabumi : 80 farenheit
suhu sekarang di kutub utara : -10 celcius
suhu sekarang di kutub utara : -40 farenheit

In [46]:
#fungsi rekursif
def faktorial(bil):
    if bil==1:
        return 1
    return bil * faktorial(bil-1)

faktorial(5)

120

In [47]:
#latihan 1
def total(nums):
    total = 0
    for n in nums:
        total += n
        
    return total
total([20,20])

40

In [54]:
#fungsi menjumlahkan nilai list
nilai_tugas = [100,90,80,60]

def totalnilai(n_tugas):
    total=0
    for i in n_tugas:
        total +=i
        
    return total

totalnilai(nilai_tugas)

330

In [49]:
#fungsi mencari nilai terbesar dari perkumpulan list
nilai_tugas = [100,90,80,60]

def maxvalue(n_tugas):
    maks = 0
    for i in n_tugas:
        if i > maks:
            maks = i
        return maks
    
print(totalnilai(nilai_tugas))
print(maxvalue(nilai_tugas))

330
100

In [51]:
#fungsi untuk menjumlahkan 2 buah list

In [59]:
nilaiSiswa =[
    {
        "nama": "iprit",
        "nilai": 75
    },
    {
        "nama": "opel",
        "nilai" : 80
    },
    {
        "nama" : "jubed",
        "nilai": 100
    },
    {
        "nama": "ipeh",
        "nilai": 99
    }
]

def maxvalue(nilaiSiswa):
    nilaiTerbesar = 0
    orangTerbesar = ''
    for siswa in nilaiSiswa:
        nilai = siswa.get("nilai")
        nama = siswa.get("nama")
        
        if nilai > nilaiTerbesar:
            orangTerrbesar = nama
            nilaiTerbesar = nilai
            
        return{
            "nama": orangTerbesar,
            "nilai": nilaiTerbesar
        }
siswa = maxvalue(nilaiSiswa)

print("RANKING 1 ADALAH.....\n")
print("nama:", siswa.get("nama"))
print("nilai", siswa.get("nilai"))

RANKING 1 ADALAH.....

nama:
nilai 75